/* =============================================================================
                   Blog-Universal 
   ========================================================================== */
input[type="submit"].searchsubmit {
    @extend button;
   
    &:hover {
        
    }
}

form[role="search"] {
    input[type="text"] {
        padding: 16px;
        border: none;
        margin: 0;
        border-radius: 4px;
        outline: none;
        border: 2px solid black;
        &:focus {
            border: 2px solid red;
        }
    }
}


/*blockquotes*/
blockquote {
    background: #F7F7F7;
    margin: 0;
    padding: 20px;
}

blockquote p {
    margin-top: 0;
}

/*tables*/
table td {
    padding: 10px;
}

table tr td:first {
    padding-right: 0;
}

/*def lists*/
dt {
    font-weight: 600;
    padding-bottom: 5px;
}

dd {
    padding: 10px;
    margin-left: 10px;
}

.entry-meta {
  
}

.nav-previous a, .nav-next a {
   
}

.nav-previous {
    float: left;
    width: 25%;
}

.nav-next {
    float: right;
    width: 25%;
}


/* =============================================================================
                   Single & Index 
   ========================================================================== */

.indexWrapper {
   
}

.bloghead {
   
}

.blogWrapper {
   
    }
  
   
.social {
    text-align: center;
   
    a {
        padding: 1%;
    }

    i {
        width: 60px;
        height: 60px;
        text-align: center;
        padding: 1%;
        border-radius: 50%;
        color: white;
        box-shadow: inset 0 0 0 2px black;
        @include transition(all 0.4s ease-in-out);
        
        &:hover {
          
        }
    }
}


.entry-content {
    
    .wp-caption-text {
        margin: 0;
        font-size: .7em;
    }

}


/* =============================================================================
                   SIDEBAR (blogfooter) 
   ========================================================================== */
.blogfooter {
    text-align: center;
    clear: both;
    max-width: 1400px;
    width: 100%;
    margin: 2% auto;
}

.widgetList {
    
}

.widget-container ul {
    padding: 0;
    margin: 0;
}

.widget_categories li, .widget_tag_cloud li {
    display: inline-block;
}

.widget_categories li a, .widget_tag_cloud li a {
    position: relative;
    padding: 3px;
    text-transform: uppercase;
    margin: 6px;
    font-size: 11px;
}

.widget_categories li a:hover, .widget_tag_cloud li a:hover {
    color: white;
}

.widget_categories li a:before, .widget_tag_cloud li a:before {
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 8px solid $green;
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
}


/* =============================================================================
                  Comment Styling 
   ========================================================================== */

.comments {
    clear: both;
    width: 58%;
    margin: 0 auto;
}

#comments .navigation {
    padding: 0 0 18px;
}

h3#comments-title, h3#reply-title {
    color: $navy;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}

h3#comments-title {
    padding: 24px 0;
}

.commentlist li.comment {
    border-bottom: 1px solid #e7e7e7;
    line-height: 24px;
    position: relative;
    clear: both;
    margin: 0 0 24px;
    padding: 0 0 0 56px;
}

.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

#comments .comment-body ul, #comments .comment-body ol {
    margin-bottom: 18px;
}

#comments .comment-body p:last-child {
    margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}

.commentlist ol {
    list-style: decimal;
}

.commentlist .avatar {
    position: absolute;
    top: 4px;
    left: 0;
}

.comment-author cite {
    color: $navy;
    font-style: normal;
    font-weight: 700;
}

.comment-author .says {
    font-style: italic;
}

.comment-meta {
    font-size: 14px;
    margin: 0 0 5px;
}

.comment-meta a:link, .comment-meta a:visited {
    color: #888888;
    text-decoration: none;
}

.reply {
    font-size: 14px;
    padding: 0 0 24px;
}

.reply a, a.comment-edit-link {
    color: $navy;
}

.commentlist .children li {
    border: none;
    margin: 0;
}

#comments .pingback {
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e7e7e7;
}

.commentlist li.comment+li.pingback {
    margin-top: -6px;
}

#comments .pingback p {
    color: $navy;
    font-size: 12px;
    line-height: 18px;
    display: block;
    margin: 0;
}

#comments .pingback .url {
    font-style: italic;
    font-size: 13px;
}

.comment-form input[type=submit] {
    @extend button;
    background: none;
    font-weight: 700;
    border: 2px solid $green;
    color: $navy;
    width: 98%;
    border: 2px soild $green;
    font-size: 16px;
    margin: 1% 0;
    &:hover {
        background: $green;
        border: 2px soild $navy;
    }
}

.comment-form input[type="text"],.comment-form textarea {
    padding: 16px;
    border: none;
    margin: 0;
    border-radius: 4px;
    outline: none;
    border: 2px solid $green;
    &:focus {
        border: 2px solid $navy;
    }
}

#respond {
    margin-top: 24px;
    border-top: 1px solid #e7e7e7;
    overflow: hidden;
    position: relative;
}

#respond .comment-notes {
    margin-bottom: 1em;
}

.form-allowed-tags {
    line-height: 1em;
}

.children #respond {
    margin: 0 48px 0 0;
}

h3#reply-title {
    margin: 18px 0;
}

#comments-list #respond {
    margin: 0 0 18px;
}

#cancel-comment-reply-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

#respond .required {
    color: $green;
    font-weight: 700;
}

#respond label {
    color: $navy;
    font-size: 14px;
}

#respond input {
    width: 98%;
}

#respond textarea {
    width: 98%;
}

#respond dt, #respond dd {
    color: $navy;
    font-size: 14px;
    line-height: 18px;
}

#respond dd code {
    font-size: 11px;
}

#respond dl {
    margin: 0 0 10px;
}

#respond dt {
    display: inline;
    font-weight: 400;
}

#respond dd {
    display: inline;
}

p.form-allowed-tags, .nocomments {
    display: none;
}

.commentlist, .commentlist .children {
    list-style: none;
    margin: 0;
}

.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover {
    color: $green;
}

#respond p, #comments-list ul #respond {
    margin: 0;
}