@media (max-width: 1400px) {
  #wpadminbar { border-left:10px solid red !important; }
  
  .section {
    padding:10px;
  }
}

@media (max-width: 980px) {
  #wpadminbar { border-left:10px solid green !important; }

  .left, .sidebar {
    width:100%;
    clear:both;
  }

}

@media (max-width: 480px) {
  #wpadminbar { border-left:10px solid yellow !important; }
}


@media (max-width: 3200px) {
  #wpadminbar { border-left:10px solid yellow !important; }
}