//colours

$white: #f6f6f6;
$orange: #feae22;
$purple: #a81ace;
$blue: #0d6eee;
$emerald: #00a99d;
$green: #80db2f;
$yellow:#ffde17;
$navy: #000e1a;
$black: #090909;


$colour1: $navy;
$colour2: $black;




//TYPOGRAPHY
